RewriteEngine on

RewriteRule ^Quizee index.php
RewriteRule ^Users/(\w+)/Dashboard?$ index.php [L]
RewriteRule ^Users/[\w]+/Profile$ profile.php [L]
RewriteRule ^Login login.php
RewriteRule ^Signup signup.php
