Options -Indexes

RewriteEngine on

RewriteRule ^quizzee$ index.php
RewriteRule ^my/dashboard$ index.php [L]
RewriteRule ^my/profile$ profile.php [L]
RewriteRule ^my/quizzes/(\w*)\/?(.*)? Quiz/quiz.php?action=$1&uqid=$2 [L]
RewriteRule ^login$ login.php
RewriteRule ^signup$ signup.php
