Options -Indexes

RewriteEngine on

RewriteRule ^quizzee$ index.php
RewriteRule ^my/dashboard$ index.php [L]
RewriteRule ^my/profile$ profile.php [L]
RewriteRule ^my/quiz Quiz/quiz.php [L]
RewriteRule ^login$ login.php
RewriteRule ^signup$ signup.php
