nav{
  background: #3700B3;
}

#new-quiz{
  border-radius: 8px;
  font-weight: bold;
}

.card{
  margin: 2rem;
  border-radius: 8px;
  font-family: sans-serif;
  width: 14rem;
  background-color: rgba(0,0,0,.09);
  height: 14rem;
  box-shadow: 10px 10px 10px #888888;
}

.card-header{
  padding-left: 0;
  border: none;
  background: inherit;
}

.card-header a{
  color: black;
}

.card-link{
  margin-top: 6rem;
  color: black;
  font-weight: 400;
}
