@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

.signedIn, .profileBtn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #01596f;
  border-color: #01596f;
}

* {
  font-family: 'Acme', sans-serif;
}

.navbar-logo {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.6rem;
  font-weight: 500;
}

#searchResults{
  background-color: rgba(0,0,0,0);
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6));
  color:#c7f2fc;
  padding: 1rem 0 20rem 2rem;
}
div#home.tabcontent.show{
  margin-right:0;
}
.dropdown-menu li{
	margin: 10px;
}

img{
	margin:10px;
}

div#group-panel-collapse.collapse.show{
  overflow-y:scroll;
  height:400px;
}

::-webkit-scrollbar {
  width: 1em;
}

.tab {
float: left;
width: 30%;

}

/* Style the buttons that are used to open the tab content */
.tab button {
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 75%;
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
}

.tab button{
  color:white;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: rgba(204,204,204,0.5);
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color:#44a6b3;
color:black;
}

/* Style the tab content */
.tabcontent {
float: left;
padding: 0px 12px;
width: 70%;
border-left: none;
}

.heading{
  font-weight: bold;
  margin-top:2rem;
}

nav{
  z-index:1;
  background-image: linear-gradient(to right,#001f27,#0096bb);
  border-bottom:none;
}

html {
 min-height: 100%;
 background: url("https://images.unsplash.com/photo-1598705352140-be8e33a97d55?ixlib=rb-1.2.1&auto=format&fit=crop&w=1874&q=80");
 background-size: cover;
 background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow:hidden;
}

.quizTitle{
  border-radius: 8px;
  font-weight: bold;
  margin-left: 2rem;
}

.card{
  margin: 2rem;
  border-radius: 8px;
  font-family: sans-serif;
  width: 19rem;
  background-image: linear-gradient(#014e60, #00a2ca);
  /* background-color:#205c33; */
  /* color:#fff; */
  height: 10.5rem;
  box-shadow: 10px 10px 10px #000000;
}

.card-header{
  border: none;
  height: 2rem;
  background: transparent;
  text-align:center;
}
.card-header a{
  color: black;
}

.card-body{
  padding-top : 0;
  padding-bottom : 0;
}

.card-link{
  color: black;
  font-weight: 400;
}

.card-link.btn.btn-outline-success{
  margin: 0;
  border:none;
}
.card-link.btn.btn-outline-warning{
  margin: 1rem 0 1rem 0;
  border:none;
}
a.btn.btn-outline-danger.modal-trigger{
  margin: 1rem 0 1rem 0;
  border:none;
  position:relative;
  left: -1rem;
}
.card-link.btn.btn-outline-info{
  margin: 1rem 1rem 1rem 0;
  border:none;
}

.card-link.btn.btn-outline-info:hover,
.card-link.btn.btn-outline-success:hover,
.card-link.btn.btn-outline-warning:hover,
a.btn.btn-outline-danger.modal-trigger:hover
{
  color:white;
  background-color: #01596f;
}

.jumbotron{
  background-color: rgba(0,0,0,0);
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6));
  color:#c7f2fc;
  border-radius:0px;
}

.container{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.4));
  color: white;
  border-radius:0px;
  padding-bottom: 2rem;
}

.group-links{
  color:white;
  font-weight:500;
  font-size:20px;
}

.group-links:hover{
  color:white;
  text-decoration:none;
}

input {
  outline: none;
  box-shadow: none !important;
}

.btn-group.offset-1{
  padding-left:0;
}
