
.quiz-edit{
  background-color: rgba(0,0,0,.05);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid black;
}

#form-editable-prompt{
  margin: 2rem 0;
}

#quiz-name{
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.5rem;
}

body{
  background: rgba(0,0,0,.09);
}

input[type=text],select{
background: white
border:3px solid black;
}


.editable-question-container{
  background:rgba(0,0,0,.09);
  padding: 2rem;
  border: 2px solid;
  border-radius: 8px;
  margin: 2rem 0;
}

.editable-question-description-input{
  border: 2px solid;
  border-radius: 8px;
  margin: 1rem 0 1rem 0;
}
.editable-question-type-select{
  margin-left: 1rem;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 0.25rem;
}

.editable-question-option-input{
  border: 2px solid grey;
  border-radius: 4px;
  padding: 0.25rem;
  margin: 0.5rem 0;
}

textarea{
  margin-top: 1rem;
  border-radius: 8px;
  border: 2px solid grey;
}

.editable-question-option-buttons-add,
.editable-question-option-buttons-remove,
.editable-question-option-buttons-up,
.editable-question-option-buttons-down{
  background-color: #17a2b8;
  margin: 0.5rem 1rem 0.5rem 0;
  border-radius: 8px;
  border: 1px solid black;
}
.editable-question-button-clear{
  margin: 0.5rem 0 0 0;;
  border-radius: 8px;
  border: none;
  color: white;
  background-color: #dc3545;
}
.editable-question-option-isanswer-label{
    margin-left: 0.5rem;
}

#add-question,#remove-question{
  background-color:#007bff;
  color: white;
  padding: 0.5em;
  margin-right: 0.5em;
  border-radius: 8px;
  margin-bottom: 1rem;
  border:none;
  color: black;
}
input[type=submit]{
  background-color: #28a745;
  color: black;
  padding: 0.5em 2em;
  border:none;
  border-radius: 8px;
  font-weight: bold;
}

/*form preview styling starts*/

.main{
  background: #121212;
  border: 2px solid white;
  border-radius: 8px;
  padding: 4rem;
}
.quiz-preview{
  background: #121212;
  border: 2px solid white;
  border-radius: 8px;
}



.preview-question-container{
  margin: 2rem;
  padding: 2rem;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
}

.preview-question-description{
  margin-bottom: 0.5rem;
  font-size: 22px;
}
.preview-question-option-display{
  margin-right: 0.5rem;
  font-size: 15px;
}
.preview-question-option-label{
  padding: 5px 10px;
  font-size: 18px;
  position: relative;
  text-align: left;
  border-radius: 3px;
  -webkit-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease;
}
.preview-question-option-label:hover{
  background: #fff;
  color: black;
}
input[type="radio"].preview-question-option-display {
  display: none;
  transition: background 100ms ease,font-weight 100ms ease, color 100ms ease;
}
input[type="radio"].preview-question-option-display:checked + label{
  background:#03DAC6;
  color:black;
  font-weight: bold;
}
input[type="checkbox"].preview-question-option-display {
  display: none;
  transition: background 100ms ease,font-weight 100ms ease, color 100ms ease;
}

input[type="checkbox"].preview-question-option-display:checked + label{
  background:#03DAC6;
  color:black;
  font-weight: bold;
}
