/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  top: -300px;
  opacity: 0;
}

/* The Close Button */
span.modal-close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

span.modal-close:hover,
span.modal-close:focus {
  color: #000;
  text-decoration: none;

}

.modal-header {
  padding: 0px 16px 8px 16px;
  background-image: linear-gradient(to right,#001f27,#0096bb);
  color: white;
  border-radius: 20px 20px 0px 0px;
}

.modal-body {
  padding: 16px 16px;
  background-color:#004d60;
  color: white;
}
#code-input{
  width:20%;
  padding: 0 0 0 0.5rem;
  margin-top: 2rem;
}
h5.modal-extra{
  padding-top: 1rem;
}
input.modal-extra.btn.btn-primary{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.modal-footer {
  padding: 2px 16px 0px 16px;
  background-image: linear-gradient(to right,#001f27,#0096bb);
  color: white;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
}

p#modal-footer.modal-extra{
  position:relative;
  left:-10rem;
}
